body{
	
	background-image:url(images/cs1.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	
}	
table{
	
	border-style: double solid unset;
	border-radius: 20px;
	border-width: 5px;
	font-style: initial;
	font-size: 20px;
	font-family: serif;
	margin-top: 70px;
	margin-left: 500px;
	margin-right: 200px;
	color:white;
	/*background-image: url(images/back.jpeg);*/
	box-shadow: 200px;
	text-shadow: 1px 1px gray;
	flex-wrap: wrap;

}

	

input{
	border-radius: 10px;
	width: 220px;
	height: 20px;
	padding: 1px;
	text-align: center;
	
}
img{
	height: 30px;
	width: 40px;

	
}
