body{
	
	background-image:"{{url('images/cs1new.jpg')}}";
	background-size: cover;
	
}	
table{
	
	border-style: double solid unset;
	border-radius: 20px;
	border-width: 5px;
	font-style: initial;
	font-size: 20px;
	font-family: serif;
	margin-top: 70px;
	margin-left: 500px;
	margin-right: 200px;
	color:white;
	/*background-image: url(images/back.jpeg);*/
	box-shadow: 200px;
	text-shadow: 1px 1px gray;
	flex-wrap: wrap;

}
button{
	
	width: 100px;
	height: 30px;
	font-style: italic;
	font-family:  Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
	border-style: solid;
	border-style: double;
	border-radius: 10px;
	background-color: rgb(121, 111, 111);
	border-color: lavender;
	background-image: linear-gradient(grey,red)
	
	
	
}
input{
	border-radius: 10px;
	width: 220px;
	height: 20px;
	padding: 1px;
	text-align: center;
	
}
img{
	height: 30px;
	width: 40px;

	
}
