body{
	
	background-image:url(images/cs1.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	
}	
table{
	
	border-style: double solid unset;
	border-radius: 10px;
	border-width: 5px;
	font-style: initial;
	font-size: 20px;
	font-family:serif;
	margin-top: 90px;
	margin-left: 550px;
	margin-right: 200px;
	color:white;
	/*background-image: url(images/back.jpeg);*/
	box-shadow: 200px;
	text-shadow: 1px 1px gray;
	flex-wrap: wrap;

}

	

input{
	border-radius: 10px;
	width: 200px;
	height: 25px;
	padding: 2px;
	text-align: center;
	
}
img{
	height: 40px;
	width: 40px;

	
}
nav{
	background-image: linear-gradient(red, white);
}
